<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="/css/reset.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>

</head>
<body > 
    <header>
        
        <img width="200px " src="https://lh3.googleusercontent.com/fxBEPzc-TSycO2wbfC0OCZlhCdalG4raWv3KBx1QJ3x25ftZARu2rkZubT0XiwRZoa15Z4s8rSant631c0JJEmxR59b3y-CQxIGnn7Y" alt="">
      
    <div>
        <input  type="" name="" id="asd" placeholder="Buscar productos,marcas"><br>
       
        <i class="fas fa-search"></i>
        
        <br>
        
        <p> <i class="fas fa-hand-holding-usd"> </i>compra en cuotas y sin tarjeta de credito</p>
    </div>
    <nav>
    <ul>
        <li><a href="x">ofertas</a></li>
        <li><a href="x">tiendas oficiales</a></li>
        <li><a href="x">vender    </a></li>
        <li><a href="x">ayuda </li>
        <br> 
        <li> <a href="x"> crea ty cuenta <i class="far fa-id-badge"></i></a></li>
        <li> <a href="x">ingresa<i class="fas fa-external-link-alt"></i></a></li>
        <li><a href="x">mis compras<i class="fas fa-shopping-basket"></i></a></li>
    </ul>
    
    <div1 class="burger-menu">
        <i class="fas fa-bars"></i>
    </div1>
   
    
</nav>

</header>

<main>
<img class="img" src="/images/img-home-banner.jpg" alt="test">
        
    
    <section>
        <h2 class="titulares">Basado en tu última visita</h2>
         <article class="articulo" >
            <img class="img"  src="/images/img-cafetera-moulinex.jpg" alt="">
            <P class="precio">$6.770</P>
            <P class="descuento">40% OFF</P>
            <P class="descripcion">Cafetera Moulinex</P>
            <i class="fa-solid fa-magnifying-glass"></i>
        </article>
        
        <article class="articulo">
            <img class="img" src="/images/img-macbook-pro-2019.jpg" alt="">
            <P class="precio">$6.770</P>
            <p class=" descuento">20% off </p>
            <p class="descripcion"> MacBook Pro 2019</p>
        </article>
        
        <article class="articulo" >
            <img class="img" src="/images/img-samsung-galaxy-s10.jpg " alt="">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="descripcion">Samsung Galaxy S10</p>
        </article>

        <article class="articulo">
            <img class="img"  src="/images/img-tv-samsung-smart.jpg" alt="">
            <p class="precio" >$23.200</p>
            <p class="descuento">5% off</p>
            <p class="descripcion">SmartTv Samsung 43"</p>

        </article>

            
           
    </section>

    <section>
        <h2 class="ofertas">seccion ofertas</h2>
         <article class="articulo">
            <img class="img"  src="/images/img-cafetera-moulinex.jpg" alt="">
            <P class="precio">$6.770</P>
            <P class="descuento">40% OFF</P>
            <P class=descripcion>Cafetera Moulinex</P>
        </article>
        
        <article class="articulo">
            <img class="img"  src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>img-macbook-pro-2019</p>
            <P class="precio">$6.770</P>
            <p class="descuento">20% off </p>
            <p class="decripcion"> MacBook Pro 2019</p>
        </article>
        
        <article class="articulo">
            <img class="img"  src="/images/img-samsung-galaxy-s10.jpg " alt="">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <p class="descripcion">Samsung Galaxy S10</p>
        </article>

        <article class="articulo">
            <img  class="img" src="/images/img-tv-samsung-smart.jpg" alt="">
            
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <p class="descripcion">SmartTv Samsung 43"</p>

        </article>

            
           
    </section>


</main>
    <footer class="footer">
       
    <div> 
       
        <i  class="fas fa-credit-card"></i>       
        <p >
        <H3>● Pagá con tarjeta o en efectivo</H3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
       </p>
    </div> 
    
    <div>
    
    
        
        <i class="fas fa-gift"></i>
        <p>
        <H3>● Envío gratis desde $ 2.500</H3>
         Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
        </p> 
    </div>    
    
    <div>
   
        <i class="fas fa-user-shield"></i>   
        <p>
        <H3> ● Seguridad, de principio a fin</H3>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
        ● Copyright © 1999-2020 MercadoLiebre S.R.L.

        </p>
</div>
    </footer>

</body>
</html>